---
title: Responsive Email Resources
---

<ul>
<% data.categories.each do |category| %>
<li class="grid" id="<%= category.url %>">
	<h2><a href="#<%= category.url %>"><%= category.name %></a></h2>
	<ul>
		<% category.resources.each do |resource| %>
		<li><a href="<%= resource.url %>" target="_blank"><%= resource.name %></a>
		<% end %>
	</ul>
<% end %>
</ul>